<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:og="http://opengraphprotocol.org/schema/"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" xmlns:og="http://opengraphprotocol.org/schema/"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" xmlns:og="http://opengraphprotocol.org/schema/"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" xmlns:og="http://opengraphprotocol.org/schema/"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title><%= create_title %></title>
    <%= create_meta_description %>
    <%= create_twitter_card %>
    <%= create_opengraph %>
    <%= create_canonical %>
    <link rel="author" href="https://plus.google.com/103503173504303908525/posts">
    <meta name="robots" content="noodp" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link href="http://fonts.googleapis.com/css?family=Poly:400,400italic" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/-/css/global.css">
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <nav class="navigation navigation-top">
        <ul class="list-horizontal">
            <li><a href="/">Home</a></li>
            <li><a href="/resources/">Resources</a></li>
            <li><a href="/recommendations/">Recommendations</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>
    <select class="navigation navigation-top" data-action="select-navigation">
        <option value="">Navigation</option>
        <option value="/">Home</option>
        <option value="/resources/">Resources</option>
        <option value="/recommendations/">Recommendations</option>
        <option value="/about/">About</option>
    </select>

    <div id="container" class="cf">
        <header>
            <%= create_logo 'Proudly Powered' %>
            <span class="slogan">Which is the best CMS for you?</span>

            <nav class="navigation navigation-main">
                <ul class="list-horizontal">
                    <li><a href="/category/wordpress/">WordPress</a></li>
                </ul>
            </nav>
            <select class="navigation navigation-main" data-action="select-navigation">
                <option value="">Choose a CMS</option>
                <option value="/category/wordpress/">WordPress</option>
            </select>
            </select>
        </header>
        <div id="main">
            <%= yield %>
        </div>
    </div>

    <footer>
        <p><small>&copy; 2013 Proudly Powered. All Rights Reserved</small>.</p>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/-/js/vendor/jquery-191.js"><\/script>')</script>
    <script src="/-/js/global.js"></script>

    <script>
    var _gaq=[['_setAccount','UA-10221234-8'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
